body {
    background-color: white;
}

.container {
    background-color: lightgrey;
}

.img-div {
    background-color: white;
}

.element {
    margin: 1.5rem 30%;
    width: 45%;
}

.year {
    font-weight: 700;
}