body,
* {
    margin: 0;
    padding: 0;
}

.left-section {
    border-right: 2px solid black;
}

.left-section h1 {
    border-bottom: 1px solid grey;
    padding-top: 3%;
    padding-bottom: 3%;
}

.left-section p {
    /* padding-top: auto; */
    padding: 2% 0 2% 10%;
    /* padding-left: 10%; */


    border-bottom: 1px solid grey;
}